body {
  font-family: "Segoe UI", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Tahoma, "Trebuchet MS";
  background-color: #fff;
  margin: 0px;
  padding: 0px;
}
footer {
  text-align: center;
  clear: both;
}
.container {
  margin-top: 1.5em;
}
path {
  fill: #ccc;
  stroke: #000;
  stroke-width: 1.5px;
  stroke-linejoin: round;
}
.d3 {
  margin-top: 5em;
  background-color: #eee;
}
.d3 div {
  text-align: center;
}
